@{
    ViewData["Title"] = "管理主页";
    Layout = "_AdminLayout";
}

<h2>选择需要管理的高校</h2>

<section id="buaa">
    <div>
        <a asp-action="EditBUAA"><img src="~/images/buaa_logo.png" /></a>
    </div>
</section>
<br />

<section id="ruc">
    <div>
        <a asp-action="EditRUC"><img src="~/images/ruc_logo.png" /></a>
    </div>
</section>
<br />

<section id="thu">
    <div>
        <a asp-action="EditTHU"><img src="~/images/tsinghua_logo.png" /></a>
    </div>
</section>
<br />

<section id="pku">
    <div>
        <a asp-action="EditPKU"><img src="~/images/pku_logo.png" /></a>
    </div>
</section>
<br />
