@{
    ViewData["Title"] = "Home";
    Layout = "_AdminLayout";
}

<h2>HomeForAdmin</h2>

<section id="BUAA">
    <div>
        <a asp-action="EditBUAA"><img src="~/images/buaa_logo.png" /></a>
    </div>
</section>
<br />

<section id="RUC">
    <div>
        <a asp-action="EditRUC"><img src="~/images/ruc_logo.png" /></a>
    </div>
</section>
<br />

<section id="Tsinghua">
    <div>
        <a asp-action="EditTHU"><img src="~/images/tsinghua_logo.png" /></a>
    </div>
</section>
<br />

<section id="PKU">
    <div>
        <a asp-action="EditPKU"><img src="~/images/pku_logo.png" /></a>
    </div>
</section>
<br />
