@{
    ViewData["Title"] = "Home";
    Layout = "_AdminLayout";
}

<h2>HomeForAdmin</h2>

<section id="BUAA">
    <div>
        <a asp-action="EditBUAA"><img src="~/images/buaa.png" /></a>
    </div>
</section>
<br />

<section id="CCMU">
    <div>
        <a asp-action="EditCCMU"><img src="~/images/ccmu.png" /></a>
    </div>
</section>
<br />

<section id="Tsinghua">
    <div>
        <a asp-action="EditTHU"><img src="~/images/tsinghua.png" /></a>
    </div>
</section>
<br />

<section id="PKU">
    <div>
        <a asp-action="EditPKU"><img src="~/images/pku.png" /></a>
    </div>
</section>
<br />
