/* BUAA */

#BUAA
{
    background-color: #0B81A5;
    background-image: url("../images/buaa_background.jpg");
    background-position: center bottom;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

/* CCMU */

#CCMU
{
    background-color: #ECEDEF;
    background-image: url("../images/ccmu_background.jpg");
    background-position: center bottom;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

/* Tsinghua */

#Tsinghua
{
    background-color: #75B46E;
    background-image: url("../images/tsinghua_background.jpg");
    background-position: center bottom;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

/* PKU */

#PKU
{
    background-color: #C34C39;
    background-image: url("../images/pku_background.jpg");
    background-position: center bottom;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
