@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);

/*************************
*******BUAA CSS******
**************************/
#buaa
{
    background-color: #eee;
    background-image: url("../img/buaa_bg.jpg");
    background-position: 50% 0;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}

#buaa h2
{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 70px;
    text-transform: uppercase;
}

.single-buaa
{
    margin-bottom: 70px;
}

.single-buaa h4
{
    color: black;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 25px;
    text-transform: uppercase;
}





/*************************
******Logo CSS****
**************************/
img.UniversityLogo
{
    width: 15%;
}

/*************************
******Footer CSS****
**************************/

#footer
{
    background-color: #212121;
    background-image: url("../img/footer.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-size: 20px;
    padding: 35px 0;
}

    #footer p
    {
        color: #000000
    }
