@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);

/*************************
*******BUAA CSS******
**************************/
#buaa
{
    background-color: #eee;
    background-image: url("../img/buaa_bg.jpg");
    background-position: 50% 0;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}

    #buaa h2
    {
        color: #292b2c;
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 40px;
        margin-top: 70px;
    }

.single-buaa
{
    margin-bottom: 70px;
}

/*************************
*******THU CSS******
**************************/
#thu
{
    background-color: #75b372;
    background-image: url("../img/thu_bg.jpg");
    background-position: 50% 0;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}

    #thu h2
    {
        color: #ffffff;
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 40px;
        margin-top: 70px;
    }

    #thu p
    {
        color: #ffffff;
    }

/*************************
*******RUC CSS******
**************************/
#ruc
{
    background-color: #efe9d1;
    background-image: url("../img/ruc_bg.jpg");
    background-position: 50% 0;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}

    #ruc h2
    {
        color: #000000;
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 40px;
        margin-top: 70px;
    }

    #ruc p
    {
        color: #000000;
    }
/*************************
*******PKU CSS******
**************************/
#pku
{
    background-color: #c44c34;
    background-image: url("../img/pku_bg.jpg");
    background-position: 50% 0;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}

    #pku h2
    {
        color: #ffffff;
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 40px;
        margin-top: 70px;
    }

    #pku p
    {
        color: #ffffff;
    }


  
    



/*************************
******Logo CSS****
**************************/
img.UniversityLogo
{
    width: 15%;
}

/*************************
******Footer CSS****
**************************/

#footer
{
    background-color: #212121;
    background-image: url("../img/footer.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-size: 20px;
    padding: 35px 0;
}

    #footer p
    {
        color: #000000
    }
